# Correlation-based analysis with Python

In [21]:
import numpy as np
import pandas as np

Data: https://archive.ics.uci.edu/ml/datasets/Restaurant+%26+consumer+data

By: Blanca Vargas-Govea, Juan Gabriel GonzÃ¡lez-Serna, Rafael Ponce-MedellÃ­n. Effects of relevant contextual features in the performance of a restaurant recommender system. In RecSysâ€™11: Workshop on Context Aware Recommender Systems (CARS-2011), Chicago, IL, USA, October 23, 2011.

In [14]:
finalrating = pd.read_csv("finalrating.csv")
cuisine = pd.read_csv("cuisines.csv")
placeslocation = pd.read_csv("places.csv", encoding='ISO-8859-1')

In [15]:
places = placeslocation[['placeID','name']]

In [16]:
ratings = pd.DataFrame(finalrating.groupby('placeID')['rating'].mean())

### Grouping data and counting ratings

In [19]:
ratings['rating_counts'] = pd.DataFrame(finalrating.groupby('placeID')['rating'].count())

In [34]:
top5=ratings.sort_values('rating_counts', ascending=False).head()
top5

           rating  rating_counts
placeID
135085   1.333333             36
132825   1.281250             32
135032   1.178571             28
135052   1.280000             25
132834   1.000000             25

Restaurant 135085 is the top

### Top restaurant ratings

In [101]:
places_cross = pd.pivot_table(data=finalrating,values='rating',index='userID',columns='placeID')

In [105]:
toprestaurant = places_cross[135085]
toprestaurant[toprestaurant>=0.0]

userID
U1001    0.0
U1002    1.0
U1007    1.0
U1013    1.0
U1016    2.0
U1027    1.0
U1029    1.0
U1032    1.0
U1033    2.0
U1036    2.0
U1045    2.0
U1046    1.0
U1049    0.0
U1056    2.0
U1059    2.0
U1062    0.0
U1077    2.0
U1081    1.0
U1084    2.0
U1086    2.0
U1089    1.0
U1090    2.0
U1092    0.0
U1098    1.0
U1104    2.0
U1106    2.0
U1108    1.0
U1109    2.0
U1113    1.0
U1116    2.0
U1120    0.0
U1122    2.0
U1132    2.0
U1134    2.0
U1135    0.0
U1137    2.0
Name: 135085, dtype: float64