# Popularity based analysis with Python

In [2]:
import pandas as pd
import numpy as np

Data originally published by: Blanca Vargas-Govea, Juan Gabriel GonzÃ¡lez-Serna, Rafael Ponce-MedellÃ­n. Effects of relevant contextual features in the performance of a restaurant recommender system. In RecSysâ€™11: Workshop on Context Aware Recommender Systems (CARS-2011), Chicago, IL, USA, October 23, 2011

In [3]:
ratings = pd.read_csv("finalratings.csv")

cuisine = pd.read_csv("cuisines.csv")

### Grouping restaurants by their # rating and getting the top5 rated

In [4]:
RatingCounts = pd.DataFrame(ratings.groupby('placeID')['rating'].count()).reset_index()

In [5]:
Mostrated = RatingCounts.sort_values('rating', ascending=False).head().reset_index()

In [16]:
top5=list(Mostrated['placeID'])

In [7]:
most_rated = pd.DataFrame(top5, index=np.arange(5), columns=['placeID'] )

In [8]:
most_rated

   placeID
0   135085
1   132825
2   135032
3   135052
4   132834

### Obtaining the type of cuisine from the most rated restaurants

In [17]:
TypeofRestaurant= pd.merge(most_rated,cuisine,on='placeID')
TypeofRestaurant

   placeID         Rcuisine
0   135085        Fast_Food
1   132825          Mexican
2   135032        Cafeteria
3   135032     Contemporary
4   135052              Bar
5   135052  Bar_Pub_Brewery
6   132834          Mexican

#### Possible conclusion:  Two of the top most rated resturants are Mexican, which may imply Mexican food is popular